<a href="https://colab.research.google.com/github/kgovindaraju123/AIML/blob/master/Naivebayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [7]:
data=pd.read_csv("NaiveBayes.csv")
data.head(5)

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High  False        No
1     Rainy         Hot     High   True        No
2  Overcast         Hot     High  False       Yes
3     Sunny        Mild     High  False       Yes
4     Sunny        Cool   Normal  False       Yes

In [9]:
sports=data.copy()
sports.head(5)

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High  False        No
1     Rainy         Hot     High   True        No
2  Overcast         Hot     High  False       Yes
3     Sunny        Mild     High  False       Yes
4     Sunny        Cool   Normal  False       Yes

In [10]:
#Using datalabel Encoder covert text to numerics
LB=LabelEncoder()
sports['Outlook']=LB.fit_transform(sports['Outlook'])
sports['Temperature']=LB.fit_transform(sports['Temperature'])
sports['Humidity']=LB.fit_transform(sports['Humidity'])
sports['Windy']=LB.fit_transform(sports['Windy'])
sports['Play Golf']=LB.fit_transform(sports['Play Golf'])
sports.head(5)

   Outlook  Temperature  Humidity  Windy  Play Golf
0        1            1         0      0          0
1        1            1         0      1          0
2        0            1         0      0          1
3        2            2         0      0          1
4        2            0         1      0          1

In [15]:
Outlook=sports['Outlook'].values.tolist()
Temp=sports['Temperature'].values.tolist()
Windy=sports['Windy'].values.tolist()
Humidity=sports['Humidity'].values.tolist()
Play=sports['Play Golf'].values.tolist()
y=sports['Play Golf']
X=zip(Outlook,Temp,Humidity,Windy)
X=list(X)
X

[(1, 1, 0, 0),
 (1, 1, 0, 1),
 (0, 1, 0, 0),
 (2, 2, 0, 0),
 (2, 0, 1, 0),
 (2, 0, 1, 1),
 (0, 0, 1, 1),
 (1, 2, 0, 0),
 (1, 0, 1, 0),
 (2, 2, 1, 0),
 (1, 2, 1, 1),
 (0, 2, 0, 1),
 (0, 1, 1, 0),
 (2, 2, 0, 1)]

In [16]:
#Create a model classifier 
NB=GaussianNB()
#Train the mmdel using training data
NB.fit(X,y)
Predict=NB.predict([[0,1,0,0]])
Predict

array([1])